*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #fff;
    padding: 16px 0;
    color: #000;
    display: flex;
    border-bottom: 5px solid #000;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

header img{
    height: 40px;
}

form{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 24px 0;
    text-align: center;
}

input,button{
    padding: 8px;
}

button{
    background-color: #009432;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

#limparConcluidos,#limparTudo{
    background-color: red;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

Ul{
    margin-top: 20px;
    margin-left: 600px;
}


ul li{
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    margin-bottom: 10px;
}

.riscado{
    text-decoration: line-through
}